body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffb7cf, #b3e5ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 90%;
    max-width: 380px;
    background: #ffffff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(255, 182, 193, 0.4);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #444;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #f7cfe0;
    border-radius: 10px;
    font-size: 16px;
    background: #fff7fb;
}

button {
    width: 100%;
    padding: 12px;

    background: #ff9fbb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;

    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff86a9;
}

.error-msg {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
